<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1 th:text="${title}"/>
    <p>Текст ссылки, а также URL адрес для ссылки был передан в шаблон через контроллер!</p>
    <a th:href="${linkValue}" th:text="${linkText}"/>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>